    /* .body-content{
      position: relative;
    } */
    .table1{
    width: 300px;
    position:absolute;
    right: 400px;
      border: 1px solid #a2a9b1;
      background-color: #f8f9fa;
      /* float: right; */
    }
    .table-head1{
         text-align: center; background-color: rgb(180,250,180);
    }
    .img-meaning{
        text-align: center; font-size: 88%;
    }
    .body-content{
      width: 1074px;
      height: 13621;
    }
    .table2{
        border: 1px solid #a2a9b1;
      background-color: #f8f9fa;
      width: 300px;
        
    }
    .table-head2{
        text-align: center;
    }
    .nav{
      position: absolute;
      left: 0px;
    }